In [4]:
import pandas as pd
import numpy as np
import random
import sklearn

In [34]:
df = pd.read_csv('202109-stations-capacity/all_data.csv')

In [35]:
df

,time,capacity,station,increment,decrement,wait_time,year,month,day_of_week,day,hour,minute,second,seconds_from_hour
0,00:10.3,15,The Dimock Center,0,1,0,2021,9,Wednesday,1,0,0,10,10
1,00:11.2,18,Boylston St at Fairfield St,0,1,0,2021,9,Wednesday,1,0,0,11,11
2,00:11.4,17,Boylston St at Fairfield St,0,1,0,2021,9,Wednesday,1,0,0,11,11
3,00:13.3,14,Congress St at Northern Ave,0,1,0,2021,9,Wednesday,1,0,0,13,13
4,00:21.2,24,Inman Square at Springfield St.,0,1,0,2021,9,Wednesday,1,0,0,21,21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
862139,45:24.9,105,E Cottage St at Columbia Rd,1,0,0,2021,10,Sunday,3,21,45,24,2724
862140,28:07.5,13,Christian Science Plaza - Massachusetts Ave at...,1,0,0,2021,10,Monday,4,0,28,7,1687
862141,05:12.1,27,Boston Landing,1,0,0,2021,10,Monday,4,10,5,12,312
862142,41:33.2,25,Government Center - Cambridge St at Court St,1,0,0,2021,10,Monday,4,12,41,33,2493
862143,45:57.9,46,Grove St at Community Path,1,0,0,2021,10,Monday,4,15,45,57,2757

In [163]:
features = ['day_of_week', 'day', 'hour', 'seconds_from_hour']

In [165]:
#X = df.loc[:, df.columns != 'wait_time']
X = df.loc[:, df.columns != 'decrement']
X = X[X['increment']==1]
X = X[X['wait_time']!=0]
X =X[X['station']=='Ames St at Main St']

In [166]:
X

,time,capacity,station,increment,wait_time,year,month,day_of_week,day,hour,minute,second,seconds_from_hour
905,42:14.6,5,Ames St at Main St,1,1858,2021,9,Wednesday,1,0,42,14,2534
1522,13:12.7,0,Ames St at Main St,1,1465,2021,9,Wednesday,1,1,13,12,792
1975,37:38.0,-4,Ames St at Main St,1,1559,2021,9,Wednesday,1,1,37,37,2257
2393,03:37.1,-6,Ames St at Main St,1,2296,2021,9,Wednesday,1,2,3,37,217
2922,41:53.4,-7,Ames St at Main St,1,331,2021,9,Wednesday,1,2,41,53,2513
...,...,...,...,...,...,...,...,...,...,...,...,...,...
859932,56:21.9,638,Ames St at Main St,1,255,2021,9,Thursday,30,22,56,21,3381
860110,00:37.8,639,Ames St at Main St,1,755,2021,9,Thursday,30,23,0,37,37
860583,13:13.4,633,Ames St at Main St,1,4675,2021,9,Thursday,30,23,13,13,793
862089,31:09.4,632,Ames St at Main St,1,40,2021,10,Friday,1,0,31,9,1869
862090,31:49.4,630,Ames St at Main St,1,44430,2021,10,Friday,1,0,31,49,1909

In [167]:
y = X['wait_time']

In [168]:
X = X[features]

In [169]:
X_clean = pd.get_dummies(X, columns = ['day_of_week', 'day', 'hour',], drop_first = True)

In [170]:
X_clean

,seconds_from_hour,day_of_week_Monday,day_of_week_Saturday,day_of_week_Sunday,day_of_week_Thursday,day_of_week_Tuesday,day_of_week_Wednesday,day_2,day_3,day_4,...,hour_14,hour_15,hour_16,hour_17,hour_18,hour_19,hour_20,hour_21,hour_22,hour_23
905,2534,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1522,792,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1975,2257,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2393,217,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2922,2513,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
859932,3381,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
860110,37,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
860583,793,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
862089,1869,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
862090,1909,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [171]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_clean, y, 
                                                    train_size = 0.70, random_state = 1)

In [180]:
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import Lasso
from sklearn.linear_model import ElasticNet
from sklearn.tree import DecisionTreeRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.ensemble import GradientBoostingRegressor

# Select the model type
model = Lasso()

# Fit the model to our data
model.fit(X_train, y_train)

Lasso()

In [181]:
from sklearn import metrics
y_train_pred = model.predict(X_train)
y_test_pred = model.predict(X_test)

r2_train = metrics.r2_score(y_train, y_train_pred)
r2_test = metrics.r2_score(y_test, y_test_pred)

In [182]:
r2_train

0.370539164580836

In [183]:
r2_test

0.15192320703581041

In [61]:
y_test_pred

array([ 590.1633099 , 4414.83220943, -448.85237614, ..., 1322.60261489,
         66.30093624, -332.98419694])